---
import Navbar from "../components/Navbar.astro";
import Home from "../components/landing/home/Home.astro";
import PlansComparation from "../components/PlanComparation/PlanComparation";
import Contact from "../components/landing/contact/Contact.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Landing Page - Evervault</title>
	</head>
	<body class="bg-[#010314] text-[#babcd2]">
		<Navbar />
		<Home  />
		<PlansComparation client:only />
		<Contact />
		<Footer/>
		<script src="../js/main.js"></script>
	</body>
</html>
