---
import CardOfPrice from "./CardOfPrice.astro";

---

<div class="flex items-center flex-col px-4 pb-96">
    <section class="py-32 space-y-4 max-w-[28rem] text-center">
        <h1 class="text-[#fff] text-5xl">Pricing</h1>
        <h3 class="text-xl text-[#999]">Safely collect, process, and share your data with the plan that's right for you.</h3>
    </section>
    <section class="w-auto flex-wrap flex justify-center items-stretch gap-4">
        <CardOfPrice planName={"Free"} price={"$0"} planTime={"per month"} description={"Explore the product and power small, personal projects."} benefits={["500 Encrpypts", "500 Decrypts", "250 Cage Runs"]} buttonName={"Get Started"} isPopular=false />
        <CardOfPrice planName={"Pro"} price={"$395"} planTime={"per month"} description={"Run production apps with full functionality"} benefits={["Unimited Encrypts", "5,000 Decrypts", "2,500 Cage Runs"]} buttonName={"Start Free Trial"} isPopular=false freeTest=true />
        <CardOfPrice planName={"Enterprise"} planTime={"Custom pricing"} description={"Run compliant production apps with full functionality onboarding and support."} benefits={["Unlimited Encrypts", "Custom Decrypts", "Custom Cage Runs", "Fast-tracked PCI & HIPPA"]} buttonName={"Get Started"} isPopular=false />
    </section>
    <div class="hidden md:block absolute top-40 w-20 h-20 p-60 blur-3xl bg-purple-600/20 rounded-full -z-10"></div>
</div>