<footer class="flex justify-center items-center">
    <div class="grid grid-cols-12 w-full max-w-[80rem] p-4 pb-20">
        <div class="flex justify-start lg:justify-center items-center col-span-12 lg:col-span-5 pb-20 pt-10 px-8">
            <img class="w-12 h-auto" src="https://evervault.com/images/icon-white.svg" alt="Evervault">
        </div>
        <div class="lg:col-span-7 col-span-12 flex-wrap grid grid-cols-2 md:grid-cols-4 gap-4 font-medium px-4">
            <section class="flex justify-start items-start gap-2 flex-col">
                <h3 class="text-xl font-light text-[#5e6077]">Company</h3>
                <ul class="flex justify-start items-start flex-col text-[#ddd] gap-y-2">
                    <a class="hover:text-white transition-all" href="/">Blog</a>
                    <a class="hover:text-white transition-all" href="/">Careers</a>
                    <a class="hover:text-white transition-all" href="/">Pricing</a>
                    <a class="hover:text-white transition-all" href="/">Customers</a>
                </ul>
            </section>
            <section class="flex justify-start items-start gap-2 flex-col">
                <h3 class="text-xl font-light text-[#5e6077]">Resources</h3>
                <ul class="flex justify-start items-start flex-col text-[#ddd] gap-y-2">
                    <a class="hover:text-white transition-all" href="/">Documentation</a>
                    <a class="hover:text-white transition-all" href="/">Papers</a>
                    <a class="hover:text-white transition-all" href="/">Press</a>
                </ul>
            </section>
            <section class="flex justify-start items-start gap-2 flex-col">
                <h3 class="text-xl font-light text-[#5e6077]">Legal</h3>
                <ul class="flex justify-start items-start flex-col text-[#ddd] gap-y-2">
                    <a class="hover:text-white transition-all" href="/">Terms of Service</a>
                    <a class="hover:text-white transition-all" href="/">Privacy Policy</a>
                    <a class="hover:text-white transition-all" href="/">Cookies Policy</a>
                    <a class="hover:text-white transition-all" href="/">Data Processing</a>
                </ul>
            </section>
            <section class="flex justify-start items-start gap-2 flex-col">
                <h3 class="text-xl font-light text-[#5e6077]">Compilance</h3>
                <ul class="flex justify-start items-start flex-col text-[#ddd] gap-y-2">
                    <a class="hover:text-white transition-all" href="/">PCI Level 1</a>
                    <a class="hover:text-white transition-all" href="/">SOC 2 Type II</a>
                </ul>
            </section>
        </div>
    </div>
</footer>